h1 {
  color: blueviolet;
  /* font-size: large; */
  background-color: tan;
}

button {
  color: darkblue;
  background-color: #b7b0a8;
}

p {
  color: white;
  background-color: rgb(90, 105, 119);
}
